<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Developer self-test: adb shell am broadcast -a dev.phosphor.mobil3.SELFTEST
             -n dev.phosphor.mobil3.debug/dev.phosphor.mobil3.SelfTestReceiver -->
        <receiver
            android:name=".SelfTestReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="dev.phosphor.mobil3.SELFTEST" />
                <action android:name="dev.phosphor.mobil3.ROOT_AUTH_PROBE" />
                <action android:name="dev.phosphor.mobil3.KSU_AUTH_PROBE" />
                <action android:name="dev.phosphor.mobil3.ROOT_AUDIO_PROBE" />
                <action android:name="dev.phosphor.mobil3.ROOT_STEREO_SYSTEM_TEST" />
                <action android:name="dev.phosphor.mobil3.ROOT_STEREO_NONE_TEST" />
                <action android:name="dev.phosphor.mobil3.ROOT_CAPTURE_SYSTEM_TEST" />
                <action android:name="dev.phosphor.mobil3.ROOT_CAPTURE_NONE_TEST" />
                <action android:name="dev.phosphor.mobil3.ROOT_CAPTURE_TONE" />
            </intent-filter>
        </receiver>
        <!-- Compose UI test host (ui-test-manifest). Instrumentation starts it in-process,
             so other apps never need to launch it. -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false"
            tools:replace="android:exported" />
    </application>
</manifest>
