<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Developer self-test: adb shell am broadcast -a dev.phosphor.mobil3.SELFTEST
             -n dev.phosphor.mobil3.debug/dev.phosphor.mobil3.SelfTestReceiver -->
        <receiver
            android:name=".SelfTestReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="dev.phosphor.mobil3.SELFTEST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
